$background: rgb(210, 211, 207);

%defaultFont {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin flex-display ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

@mixin hover {
    @media (hover: hover) {
        &:hover {
            transform: scale(1.1);
            cursor: pointer;
        }
    }
}

@mixin active {
    &:active {
        transform: scale(0.9);
    }
}