%defaultFont {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

@mixin flex-display ($direction, $justify, $align){
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}