@import "./base";
body {
    @extend %defaultFont;
    box-sizing: border-box;
}

header {
    @include flex-display(row, space-between, center);
    background-color: $background;
    margin: 0;
    padding: 0 50px;
    width: 100%;

    section {
        &.header__icons {
            @include flex-display(row, space-between, center);
            gap: 20px;
        }

        img {
            &.header__img {
                width: 24px;
                height: 24px;
                @include hover (false);
                @include active (false);
            }

            &.header__logo {
                width: 72px;
                height: 72px;
            }
        }
    }
}

main {
    .banner {
        height: 336px;
        overflow: hidden;

        img {
            width: 100%;
            height: 336px;
            object-fit: cover;
        }
    }

    .filter {
        @include flex-display(row, space-around, center);
        gap: 20px;
        padding: 15px 0;
        background-color:$background;
    }

    h2 {
        margin: 60px auto 35px auto;
        text-align: center;
    }

    .products {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 35px;
        margin: 0 60px;
        box-sizing: border-box;

        article {
            @include flex-display(row, center, center);
        }
                
        div {
            &.card {
                height: 400px;
                @include hover (true);
                @include active (true);
            }

            &.card-body {
                background-color: $cardsBackground;
            }

            p {
                text-align: center;
            }

            img {
                width: 100%;
                height: 286px;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}