@import "./base";
body {
    @extend %defaultFont;
    box-sizing: border-box;
}

header {
    @include flex-display(row, space-between, center);
    background-color: RGB(210, 211, 207);
    margin: 0;
    padding: 0 50px;
    width: 100%;

    section {
        &.header__icons {
            @include flex-display(row, space-between, center);
            gap: 20px;
        }

        img {
            &.header__img {
                width: 24px;
                height: 24px;
                @include hover;
                @include active;
            }

            &.header__logo {
                width: 72px;
                height: 72px;
            }
        }
    }
}