@import "./base";
@import "./media";
body {
    @extend %defaultFont;
    box-sizing: border-box;
    font-size: 16px;
}

header {
    @include flex-display(row, space-between, center);
    background-color: $background;
    margin: 0;
    padding: 0 50px;
    width: 100%;

    section {
        &.header__icons {
            @include flex-display(row, space-between, center);
            gap: 20px;
        }

        img {
            &.header__img {
                width: 24px;
                height: 24px;
                @include hover (false);
                @include active (false);
            }

            &.header__logo {
                width: 72px;
                height: 72px;
            }
        }
    }
}

main {
    .banner {
        height: 336px;
        overflow: hidden;

        img {
            width: 100%;
            height: 336px;
            object-fit: cover;
        }
    }

    .filter {
        @include flex-display(row, space-around, center);
        gap: 20px;
        padding: 15px 0;
        background-color:$background;

        article {
            @include secondMedia {
                display: none;
            }

            &.filter__media {
                display: none;
                @include secondMedia {
                    display: flex;
                }
            }

            &.filter__media--secondary {
                display: flex;
            }

            .btn-group {
                a {
                    background-color: $borderColor;
                    border: $borderColor;

                    &.active {
                        background-color: $btnColor;
                        border: $btnColor;
                    }
                }
            }
        }
    }

    h2 {
        margin: 60px auto 35px auto;
        text-align: center;
    }

    .products {
        @include grid-display(270px, 1fr);
        gap: 35px;
        margin: 60px;
        box-sizing: border-box;

        article {
            @include flex-display(row, center, center);
        }
                
        div {
            &.card {
                height: 400px;
                @include hover (true);
                @include active (true);
            }

            &.card-body {
                background-color: $cardsBackground;
            }

            p {
                text-align: center;
            }

            img {
                width: 100%;
                height: 286px;
                padding: 10px;
                box-sizing: border-box;
            }
        }
    }
}

footer {
    background-color: $background;
    border-top: $borderColor 3px solid;

    img {
        &.footer__img {
            width: 52px;
            height: 52px;
            border-radius: 50%;
            transform: translateY(-50%);
            margin: 0 auto;
            display: flex;
            border: $borderColor 3px solid;
        }

        &.footer__img--icon {
            width: 24px;
            height: 24px;
            margin: 0 10px;
        }
    }

    nav {
        @include flex-display(row, center, flex-start);
        margin: 0 auto;
        
        section {
            width: 100%;
            height: 300px;
            text-align: left;
            border-left: 1px solid $borderColor;
            @include flex-display(column, flex-start, center);
            box-sizing: border-box;
            padding-top: 10px;
            @include firstMedia {
                white-space: wrap;
                height: 600px;
            }        

            article {
                @include flex-display(column, flex-start, flex-start);
                width: 25%;
                gap: 20px;
                font-size: 14px;
                white-space: nowrap;
                box-sizing: border-box;
                @include firstMedia {
                    white-space: wrap;
                    width: 100%;
                    min-width: 169px;
                    padding: 25px;
                }    
                
                &.footer__social {
                    @include firstMedia {
                        white-space: nowrap;
                        @include flex-display(column, center, space-around);
                    }            
                }

                h5 {
                    @include firstMedia {
                        white-space: wrap;
                    }
                }
            }
        }
    }
}